.catalogs
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    width: 100%
    row-gap: 20px
    gap: 50px
    margin-top: 50px
    background-color: #222

    .delete_confirmed.active
        display: block

    .delete_confirmed
        width: 100vw
        height: 100vh
        display: none
        position: absolute
        top: 0
        left: 0

        .fancy_close
            width: 100%
            height: 100%
            opacity: 0.8
            background-color: #000
            z-index: 2
            position: absolute
            top: 0
            left: 0

        .container
            width: 320px
            height: 110px
            color: #fff
            background-color: #222
            border: 2px solid #fff
            border-radius: 8px
            padding: 20px
            display: flex
            flex-direction: column
            justify-content: center
            z-index: 3
            align-items: center
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)

            h6
                text-align: center
                padding-bottom: 15px
                font-size: 16px
                margin: 0
            
            .buttons
                display: flex
                justify-content: space-around
                width: 100%
                margin-top: 15px
                
                .cancel, .delete
                    width: 120px
                    height: 40px
                    color: #fff  
                    border-radius: 8px 
                    background-color: transparent
                    font-weight: 600
                    border: 1px solid #3d3d3d
                    transition: 0.3s
                    cursor: pointer

                .cancel
                    background-color: #27800b

                    &:hover
                        background-color: #309710
                .delete
                    background-color: #921010

                    &:hover
                        background-color: #ac1212

    
    .catalog
        width: calc(20% - 100px)
        border: 1px solid #fff
        padding: 10px 20px
        border-radius: 0px 20px

        h2
            color: #fff
            font-size: 14px

        .media_container
            position: relative

            a
                display: block
                aspect-ratio: 1/1
                width: 100%
                object-fit: cover
                object-position: center
                background: #fff

                img
                    width: 100%
                    height: 100%
                    object-fit: contain
                    object-position: center

            .delete
                position: absolute
                width: 40px
                height: 40px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50%
                bottom: 12px
                cursor: pointer
                background: #ee0b0b
                right: 10px

                svg
                    width: 20px
                    height: 20px
                    fill: #fff

        img
            width: 100%
            height: auto
            object-fit: cover
            object-position: center

    .last_element
        background: #36e600
        position: relative
        border-radius: 8px
        box-shadow: 6px 6px 15px 3px #000
        cursor: pointer

        svg
            fill: #fff
            width: 50px 
            height: 50px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

.edit_container
    margin-top: 20px
    margin-bottom: 20px
    label
        color: #fff
        font-size: 18px
        font-weight: 500
        margin-right: 20px 
    #edit, #save
        width: 120px
        height: 40px
        color: #fff  
        border-radius: 8px 
        font-weight: 600
        border: 1px solid #3d3d3d
        transition: 0.2s
        cursor: pointer
        &:hover
            box-shadow: inset -1px 2px 20px 0px #0c631a
            background: #10a729
    #save
        background-color: #0f9125
        margin-left: 10px
    #edit[value="Включить"]
        background: #0f9125
    #edit[value="Выключить"]
        background: #910f0f
        &:hover
            box-shadow: inset -1px 2px 20px 0px #680c0c
            background: #a71010
        

.catalogs__item
    display: flex
    flex-direction: row

    &_qrcode
        width: 25%

        svg
            padding: 10px
            background: #fff

    &_left
        display: flex
        justify-content: center
        align-items: center

        img
            width: 100%
            height: 100%
            object-fit: contain
            object-position: center
            aspect-ratio: 1/1
            background: #fff

    &_right
        padding-left: 50px
        padding-right: 10%

        .description
            strong
                font-weight: 400
        h2
            color: #fff
        p, h3
            color: #c5c5c5
        p
            font-weight: 400
        h2
            margin: 0
        b
            color: #fff
            font-weight: 600

    textarea[name="description"]
        max-width: 600px
        min-width: 600px
        max-height: 500px
        min-height: 100px

    input[name="count"]
        width: 50px
        height: 25px

    input[name="name"]
        width: 300px
        height: 25px

.catalogs_item_page
    width: 90%
    margin: 0 auto


        
    
                