.catalogs
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    width: 100%
    row-gap: 20px
    gap: 50px
    margin-top: 50px
    
    .catalog
        width: calc(20% - 50px)

        img
            width: 100%
            height: auto
            object-fit: cover
            object-position: center