footer 
    height: 80px
    display: flex
    justify-content: end

    .arrow_up.active
        right: 0px

    .arrow_up
        display: block
        margin-right: 50px
        border-radius: 100px
        width: 50px
        height: 50px
        background-color: #222
        border: 1px solid #444
        cursor: pointer
        transition: 0.2s
        position: fixed
        right: -100px
        bottom: 50px
        transition: 0.3s

        &:hover
            background-color: #474747
            box-shadow: inset -1px 2px 20px 0px #121212
            
        svg
            width: 30px
            height: 40px
            fill: #fff